/rf/src/rufus_parse.erl
/rf/src/rufus_scan.erl
/rf/.rebar3
/rf/_*
/rf/.eunit
/rf/*.o
/rf/*.beam
/rf/*.plt
/rf/*.swp
/rf/*.swo
/rf/.erlang.cookie
/rf/ebin
/rf/log
/rf/erl_crash.dump
/rf/.rebar
/rf/logs
/rf/_build
/rf/.idea
/rf/rebar3.crashdump
/rf/rf
