.Document {
  margin: 75px auto 125px;
  width: 578px;
}

.Document h1 {
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  color: #292e31;
}

.Document h2 {
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  color: #292e31;
}

.Document h3 {
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  color: #292e31;
}

.Document ol li {
  margin-left: -2.45em;
}

.Document ol li::before {
  color: #939da3;
}

.Document ul li {
  color: #4c555a;
  list-style-type: disc;
  margin-left: -2.45em;
}

.Document ul li::before {
  color: #939da3;
}
