.MarkdownDocument {
  margin: 75px auto 125px;
  width: 578px;
}

.MarkdownDocument h1 {
  color: #292e31;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.MarkdownDocument h2 {
  color: #292e31;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.MarkdownDocument h3 {
  color: #292e31;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.MarkdownDocument ol {
  margin-left: -2.45em;
}

.MarkdownDocument ol li::before {
  color: #939da3;
}

.MarkdownDocument ul {
  margin-left: -2.45em;
}

.MarkdownDocument ul li {
  color: #4c555a;
  list-style-type: disc;
  list-style-position: outside;
}

.MarkdownDocument ul li::before {
  color: #939da3;
}

.MarkdownDocument pre {
  background: #fafafb;
  border: 1px solid #f0f2f3;
  margin: 35px -150px;
  padding: 25px 150px;
  position: relative;
}
