.Main {
  background: #ffffff;
  border: 1px solid #eaecee;
  width: 878px;
  margin: 0 auto 75px;
}

.Main-content {
  margin: 75px auto 125px;
  width: 578px;
}

.Main-content h1 {
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  color: #292e31;
}

.Main-content h2 {
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  color: #292e31;
}

.Main-content h3 {
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  color: #292e31;
}

.Main p {
  color: #4c555a;
}

.Main ol li {
  color: #4c555a;
  margin-left: -2.45em;
}

.Main ol li::before {
  color: #939da3;
}

.Main ul li {
  color: #4c555a;
  list-style-type: disc;
  margin-left: -2.45em;
}

.Main ul li::before {
  color: #939da3;
}
