.Header {
  margin: 20px 0;
}

a.Header-logo {
  font-size: 18pt;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
}

.Header-links {
  float: right;
  padding-top: 5px;
}

.Header-links a {
  padding: 0 25px;
}

.Header a, .Header a:visited {
  color: #8898aa;
}

.Header a:hover {
  color: #292e31;
}
