* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #f5f7f9;
  color: #4c555a;
  font-family: 'Heebo', sans-serif;
  margin: 0;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 11.5pt;
  font-weight: 600;
  color: #424770;
}

a, a:visited {
  color: #008cdd;
  text-decoration: none;
}

a:hover {
  color: #111111;
  text-decoration: none;
}
