* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f5f7f9;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a, a:visited {
  color: #008cdd;
  text-decoration: none;
}

a:hover {
  color: #111111;
  text-decoration: none;
}
