.Navigation {
  margin: 0 auto;
}

.Navigation-header {
  margin: 20px 0;
}

a.Navigation-logo {
  font-size: 18pt;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
}

.Navigation-links {
  float: right;
  padding-top: 5px;
}

.Navigation-links a {
  padding: 0 25px;
}

.Navigation-header a, .Navigation-header a:visited {
  color: #8898aa;
}

.Navigation-header a:hover {
  color: #292e31;
}
