.Navigation {
  margin: 0 auto;
}

.Navigation-header {
  margin: 20px 0;
}

a.Navigation-logo {
  font-size: 18pt;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  color: #111111;
}
