{erl_opts, [debug_info]}.
{deps, []}.

%% escript
{escript_incl_apps, [rf]}.
{escript_main_app, rf}.
{escript_name, rf}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% profiles
{profiles, [
    {test, [{erl_opts, [debug_info]}]}
]}.

%% leex options
{xrl_opts, []}.
{xrl_first_files, []}.

%% yecc options
{yrl_opts, [warnings_as_errors]}.
{yrl_first_files, []}.

%% dialyzer options
{dialyzer, [
    {warnings, [error_handling, no_return, underspecs, unmatched_returns]},
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, []},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.
