{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps, [rf]}.
{escript_main_app, rf}.
{escript_name, rf}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

%% leex options
{xrl_opts, []}.
{xrl_first_files, []}.

%% yecc options
{yrl_opts, []}.
{yrl_first_files, []}.

%% dialyzer options
{dialyzer, [{warnings, [unmatched_returns, error_handling]},
            {get_warnings, true},
            {plt_apps, top_level_deps},
            {base_plt_apps, [rf]}]}.
